@charset "UTF-8";

/* 回答はここに書いてね */


.q2__content {
  margin: 0 auto;
  padding-top: 20px;
  width: 940px;
  box-sizing: border-box;
}

.img{
  margin: 20px;
  margin: 0 auto;
  padding: 20px;
}

.img.left{
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.img.right{
  float: right;
  padding-left: 20px;
}

.q2__content__text {
  font-size: 18px;
  line-height: 22px;
  background-color: #eff3f4;
  padding: 20px;
  word-break: break-all;
}
/* 回答はここに書いてね */
